html{
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	margin: 0;
  }
header {
  background-color: #FFFFFF;
	padding: 1rem 0;
	color: white;
	position: relative;
	text-align: center;
}
header img {
	width: 65px;
	position: absolute;
	left: calc(50% - 32.5px);
}
header h1 {
	margin: 0;
  position: relative;
  text-shadow: 1px 1px 5px black;
}
header p {
	font-size: 10px;
  position: relative;
  top: 3px;
  margin: 0;
  text-shadow: 1px 1px 5px black;
}
}

.banner{
	position: relative;
	width: 100%;
}
.banner img{
	width: 100%;
}
.banner h1{
	position: absolute;
	bottom: .3em;
	text-align: center;
	width: 100%;
	color: white;
	font-style: italic;
 	text-shadow: 1px 1px 5px black;
