html{
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	margin: 0;
  }
header {
  background-color: #FFFFFF;
	padding: 1rem 0;
	color: black;
	position: relative;
	text-align: center;
}
header img {
	width: 65px;
	position: absolute;
	left: calc(50% - 32.5px);
}
header h1 {
	margin: 0;
  position: relative;
}
header p {
	font-size: 10px;
  position: relative;
  top: 3px;
  margin: 0;
  text-shadow: 1px 1px 5px black;
}
.banner{
	position: relative;
	width: 100%;
}
.banner img{
	width: 100%;
}
.banner h1{
	position: absolute;
	bottom: .3em;
	text-align: center;
	width: 100%;
	color: white;
	font-style: italic;
 	text-shadow: 1px 1px 5px black;
 }

 }
nav ol{
	margin: 0;
	padding: 0;
}
nav li a {
	background-color: #000000;
	text-decoration: none;
	color: white;
	padding: .3em 1.7em;
  flat: left
}
nav ul{
	overflow: hidden;
	margin: auto;
	width: 100%;
	padding: 0;
}

 main p{
 	margin: 1em .5em;
 }

}
.brunch img {
  width: 65px;
	position: absolute;
	left: calc(50% - 32.5px);

}
.brunch {
	background-color: #FFFFFF;
	padding: .5em;
	text-align: center;
}
.brunch p {
	 clear: left;
  font-size: 11px;
}
